[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
arrow = "*"
aiohttp = "*"
httpx = "*"
loguru = "*"
python-box = "*"

[requires]
python_version = "3.9"
